﻿
@{
    ViewData["Title"] = "Home page";
}

<style>
    .sucribeback {
        background-image: url('../img/PRODUCTOS/banner-suscribete.png') !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        min-height: 250px;
    }

    .naranjita {
        color: #e66113 !important;
    }

    .product-item .pi-pic ul li a {
        color: #ffffff !important;
    }

    .w-icon {
        background-color: #e66113 !important;
    }

    .card-header {
        background-color: rgba(0, 0, 0, 0) !important;
        border-bottom: 2px solid rgb(230, 97, 19);
    }

    .gray {
        background-color: #808080 !important;
    }

    .fa-gradient-blue {
        background: -webkit-gradient(linear, left top, left bottom, from(#45cafc), to(#303f9f));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .pagination .page-item.active .page-link {
        color: #fff;
        background-color: #001880;
    }

    blue-gradient {
        background: linear-gradient(40deg, #2db2e5, #001880) !important;
    }
    green-gradient {
        background: linear-gradient(40deg, #00c851, #001880) !important;
    }
</style>




<!--categorias-->

<div class="col-lg-12 col-md-12 col-sm-12">
    <br>

    <div class="row">
        <div class="col-lg-1 col-md-2"></div>

        <div class="col-lg-10 col-md-10 ">


            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12 col-lg-2"></div>
                <div class="col-xs-12 col-lg-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form>
                                <div class="form-group row">

                                    <div class="col-sm-12 col-lg-1">

                                        <h4 for="" class="font negrita2">Cliente</h4>
                                    </div>

                                    <div class="col-sm-12 col-lg-5">

                                        <select class="form-control font negrita2 form-control-lg" id="cmbCliente" data-live-search="true" style="">
                                        </select>

                                    </div>
                                    <!-- Button trigger modal -->

                                    <div class="col-xs-12 col-lg-1">
                                        <button type="button" class="btn btn-primary   blue-gradient px-3" data-toggle="modal" data-target="#centralModalSm">
                                            <i class="fas  fa-shopping-basket fa-2x"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-12 col-lg-2">


                                    </div>

                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <div class="col-xs-12 col-lg-2">


                    <!-- Central Modal Small -->
                    <div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">

                        <!-- Change class .modal-sm to change the size of the modal -->
                        <div class="modal-dialog modal-fluid" role="document">


                            <div class="modal-content">
                                <div class="modal-header top">
                                    <h4 class="modal-title w-100 txtblanco" id="myModalLabel"> <img class="logoindex" src="~/img/INICIO/logo.png" alt=""> Buscar Productos </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">


                                        <div class="col-xs-12 col-lg-1"></div>
                                        <!-- /.col -->
                                        <div class="col-xs-12 col-lg-2">
                                            <div class="box">
                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                    <form>
                                                        <div class="form-group row">
                                                            <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center"> <i class="fas fa-gradient-blue fa-car"></i> Marca </h5>
                                                            <div class="col-sm-12 col-lg-12">
                                                                <select class="form-control selectpicker font" id="Marca" data-live-search="true">
                                                                    <option data-tokens="china">China</option>
                                                                    <option data-tokens="malayasia">Malayasia</option>
                                                                    <option data-tokens="singapore">Singapore</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- /.box-body -->
                                            </div>
                                            <!-- /.box -->
                                        </div>

                                        <!-- /.col -->
                                        <div class="col-xs-12 col-lg-2">
                                            <div class="box">
                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                    <form>
                                                        <div class="form-group row">
                                                            <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center">
                                                                <i class="fas fa-gradient-blue fa-car"></i>
                                                                Modelo
                                                            </h5>
                                                            <div class="col-sm-12 col-lg-12">
                                                                <select class="form-control selectpicker font" id="Modelo" data-live-search="true">
                                                                    <option data-tokens="china">China</option>
                                                                    <option data-tokens="malayasia">Malayasia</option>
                                                                    <option data-tokens="singapore">Singapore</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- /.box-body -->
                                            </div>
                                            <!-- /.box -->
                                        </div>

                                        <!-- /.col -->
                                        <div class="col-xs-12 col-lg-2">
                                            <div class="box">
                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                    <form>
                                                        <div class="form-group row">
                                                            <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center">
                                                                <i class="fas fa-gradient-blue fa-car"></i>
                                                                Año
                                                            </h5>
                                                            <div class="col-sm-12 col-lg-12">
                                                                <select class="form-control selectpicker font" id="year" data-live-search="true">
                                                                    <option data-tokens="china">China</option>
                                                                    <option data-tokens="malayasia">Malayasia</option>
                                                                    <option data-tokens="singapore">Singapore</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- /.box-body -->
                                            </div>
                                            <!-- /.box -->
                                        </div>

                                        <!-- /.col -->
                                        <div class="col-xs-12 col-lg-2">
                                            <div class="box">
                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                    <form>
                                                        <div class="form-group row">
                                                            <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center text-center">
                                                                <i class="fab fa-gradient-blue fa-buromobelexperte"></i>  Sistema
                                                            </h5>
                                                            <div class="col-sm-12 col-lg-12">
                                                                <select class="selectpicker" id="sistema" data-live-search="true">
                                                                    <option data-tokens="china">China</option>
                                                                    <option data-tokens="malayasia">Malayasia</option>
                                                                    <option data-tokens="singapore">Singapore</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- /.box-body -->
                                            </div>
                                            <!-- /.box -->
                                        </div>

                                        <!-- /.col -->
                                        <div class="col-xs-12 col-lg-2">
                                            <div class="box">
                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                    <form>
                                                        <div class="form-group row">
                                                            <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center">
                                                                <i class="fas fa-gradient-blue fa-th-list"></i>
                                                                Clasificacion
                                                            </h5>
                                                            <div class="col-sm-12 col-lg-12">
                                                                <select class="form-control selectpicker font" id="clasificacion" data-live-search="true">
                                                                    <option data-tokens="china">China</option>
                                                                    <option data-tokens="malayasia">Malayasia</option>
                                                                    <option data-tokens="singapore">Singapore</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- /.box-body -->
                                            </div>
                                            <!-- /.box -->
                                        </div>

                                        <!-- /.col -->
                                        <!-- /.col -->
                                        <div class="col-xs-12 col-lg-1">
                                            <button type="button" class="btn btn-primary btn-lg blue-gradient px-3" data-target="#buscar">
                                                <i class="fas fa-search fa-2x"></i>
                                            </button>

                                            <!-- /.box -->
                                        </div>


                                        <div class="col-xs-12 col-lg-12">
                                            <h3> <br /></h3>
                                            <table id="example2" class="table ">
                                                <thead class="top font txtblanco">
                                                    <tr>
                                                        <th><h6 class=" font txtblanco">#</h6></th>
                                                        <th><h6 class=" font txtblanco">Codigo</h6></th>
                                                        <th><h6 class=" font txtblanco">Nombre</h6></th>
                                                        <th><h6 class=" font txtblanco">Sistema</h6></th>
                                                        <th><h6 class=" font txtblanco">Marca</h6></th>

                                                        <th><h6 class=" font txtblanco">Existencia</h6></th>
                                                        <th><h6 class=" font txtblanco">Precio</h6></th>
                                                        <th class="text-center"> <i class="fas   fa-2x fa-cogs"></i></th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Row 1 Data 1</td>
                                                        <td>Row 1 Data 2</td>
                                                        <td>Row 2 Data 1</td>
                                                        <td>Row 2 Data 2</td>
                                                        <td>Row 2 Data 1</td>
                                                        <td>Row 2 Data 1</td>
                                                        <td>Row 2 Data 2</td>
                                                        <td>Row 2 Data 1</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Central Modal Small -->


                </div>






            </div>

            <div class="col-xs-12 col-lg-12">
                <h3>  <br /></h3>
            </div>
            <table id="example" class="table ">
                <thead class="top font txtblanco">
                    <tr>
                        <th><h6 class=" font txtblanco">#</h6></th>
                        <th><h6 class=" font txtblanco">Codigo</h6></th>
                        <th><h6 class=" font txtblanco">Nombre</h6></th>
                        <th><h6 class=" font txtblanco">Sistema</h6></th>
                        <th><h6 class=" font txtblanco">Marca</h6></th>

                        <th><h6 class=" font txtblanco">Existencia</h6></th>
                        <th><h6 class=" font txtblanco">Precio</h6></th>
                        <th class="text-center"> <i class="fas   fa-2x fa-cogs"></i></th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 2 Data 1</td>
                        <td>Row 2 Data 2</td>
                        <td>Row 2 Data 1</td>
                        <td>Row 2 Data 1</td>
                        <td>Row 2 Data 2</td>
                        <td>
                            <button type="button" class="btn btn-success  green-gradient  px-3" data-toggle="modal" data-target="#similares">
                                <i class="fas fa-equals fa-2x"></i>
                            </button>
                            <button type="button" class="btn btn-danger   px-3" data-toggle="modal" data-target="#ModalAutomovil">
                                

                                <i class="fas fa-trash-alt  fa-2x"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <!-- Central Modal Small -->
            <div class="modal fade" id="similares" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">

                <!-- Change class .modal-sm to change the size of the modal -->
                <div class="modal-dialog modal-fluid" role="document">


                    <div class="modal-content">
                        <div class="modal-header top">
                            <h4 class="modal-title w-100 txtblanco" id="myModalLabel"> <img class="logoindex" src="~/img/INICIO/logo.png" alt=""> Productos similares </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">


                                <div class="col-xs-12 col-lg-1"></div>
                                <!-- /.col -->
                                <div class="col-xs-12 col-lg-2">
                                    <div class="box">
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <form>
                                                <div class="form-group row">
                                                    <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center"> <i class="fas fa-gradient-blue fa-car"></i> Marca </h5>
                                                    <div class="col-sm-12 col-lg-12">
                                                        <select class="form-control selectpicker font" id="Marca" data-live-search="true">
                                                            <option data-tokens="china">China</option>
                                                            <option data-tokens="malayasia">Malayasia</option>
                                                            <option data-tokens="singapore">Singapore</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <!-- /.col -->
                                <div class="col-xs-12 col-lg-2">
                                    <div class="box">
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <form>
                                                <div class="form-group row">
                                                    <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center">
                                                        <i class="fas fa-gradient-blue fa-car"></i>
                                                        Modelo
                                                    </h5>
                                                    <div class="col-sm-12 col-lg-12">
                                                        <select class="form-control selectpicker font" id="Modelo" data-live-search="true">
                                                            <option data-tokens="china">China</option>
                                                            <option data-tokens="malayasia">Malayasia</option>
                                                            <option data-tokens="singapore">Singapore</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <!-- /.col -->
                                <div class="col-xs-12 col-lg-2">
                                    <div class="box">
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <form>
                                                <div class="form-group row">
                                                    <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center">
                                                        <i class="fas fa-gradient-blue fa-car"></i>
                                                        Año
                                                    </h5>
                                                    <div class="col-sm-12 col-lg-12">
                                                        <select class="form-control selectpicker font" id="year" data-live-search="true">
                                                            <option data-tokens="china">China</option>
                                                            <option data-tokens="malayasia">Malayasia</option>
                                                            <option data-tokens="singapore">Singapore</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <!-- /.col -->
                                <div class="col-xs-12 col-lg-2">
                                    <div class="box">
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <form>
                                                <div class="form-group row">
                                                    <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center text-center">
                                                        <i class="fab fa-gradient-blue fa-buromobelexperte"></i>  Sistema
                                                    </h5>
                                                    <div class="col-sm-12 col-lg-12">
                                                        <select class="selectpicker" id="sistema" data-live-search="true">
                                                            <option data-tokens="china">China</option>
                                                            <option data-tokens="malayasia">Malayasia</option>
                                                            <option data-tokens="singapore">Singapore</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <!-- /.col -->
                                <div class="col-xs-12 col-lg-2">
                                    <div class="box">
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <form>
                                                <div class="form-group row">
                                                    <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center">
                                                        <i class="fas fa-gradient-blue fa-th-list"></i>
                                                        Clasificacion
                                                    </h5>
                                                    <div class="col-sm-12 col-lg-12">
                                                        <select class="form-control selectpicker font" id="clasificacion" data-live-search="true">
                                                            <option data-tokens="china">China</option>
                                                            <option data-tokens="malayasia">Malayasia</option>
                                                            <option data-tokens="singapore">Singapore</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <!-- /.col -->
                                <!-- /.col -->
                                <div class="col-xs-12 col-lg-1">
                                    <button type="button" class="btn btn-primary btn-lg blue-gradient px-3" data-target="#buscar">
                                        <i class="fas fa-search fa-2x"></i>
                                    </button>

                                    <!-- /.box -->
                                </div>


                                <div class="col-xs-12 col-lg-12">
                                    <h3> <br /></h3>
                                    <table id="example2" class="table ">
                                        <thead class="top font txtblanco">
                                            <tr>
                                                <th><h6 class=" font txtblanco">#</h6></th>
                                                <th><h6 class=" font txtblanco">Codigo</h6></th>
                                                <th><h6 class=" font txtblanco">Nombre</h6></th>
                                                <th><h6 class=" font txtblanco">Sistema</h6></th>
                                                <th><h6 class=" font txtblanco">Marca</h6></th>

                                                <th><h6 class=" font txtblanco">Existencia</h6></th>
                                                <th><h6 class=" font txtblanco">Precio</h6></th>
                                                <th class="text-center"> <i class="fas   fa-2x fa-cogs"></i></th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Row 1 Data 1</td>
                                                <td>Row 1 Data 2</td>
                                                <td>Row 2 Data 1</td>
                                                <td>Row 2 Data 2</td>
                                                <td>Row 2 Data 1</td>
                                                <td>Row 2 Data 1</td>
                                                <td>Row 2 Data 2</td>
                                                <td>Row 2 Data 1</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Central Modal Small -->




        </div>
            <div class="col-lg-1 col-md-1"></div>
        </div>
</div>
@section Scripts{ 
    <script src="~/js/Vistas/Admin/Cotizador.js"></script>
<script>
      
    $(document).ready(function () {
        $('#example2').DataTable();
    });

    $(document).ready(function () {
        $('#example').DataTable();
    });
    // Get data from the first row
    

</script>
    }