﻿
@{
    ViewData["Title"] = "Home page";
}

<style>
    .sucribeback {
        background-image: url('../img/PRODUCTOS/banner-suscribete.png') !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        min-height: 250px;
    }

    .naranjita {
        color: #e66113 !important;
    }

    .product-item .pi-pic ul li a {
        color: #ffffff !important;
    }

    .w-icon {
        background-color: #e66113 !important;
    }

    .card-header {
        background-color: rgba(0, 0, 0, 0) !important;
        border-bottom: 2px solid rgb(230, 97, 19);
    }

    .gray {
        background-color: #808080 !important;
    }

    .fa-gradient-blue {
        background: -webkit-gradient(linear, left top, left bottom, from(#45cafc), to(#303f9f));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .pagination .page-item.active .page-link {
        color: #fff;
        background-color: #001880;
    }

    blue-gradient {
        background: linear-gradient(40deg, #2db2e5, #001880) !important;
    }
</style>




<!--categorias-->

<div class="col-lg-12 col-md-12 col-sm-12">
    <br>

    <div class="row">
        <div class="col-lg-1 col-md-2"></div>

        <div class="col-lg-10 col-md-10 ">





            <div class="col-xs-12 col-lg-12">
                <h3>  <br /></h3>

                <table id="example" class="table ">
                    <thead class="top font txtblanco">
                        <tr>
                            <th><h6 class=" font txtblanco">#</h6></th>
                            <th><h6 class=" font txtblanco">Codigo Crol</h6></th>
                            <th><h6 class=" font txtblanco">Nombre</h6></th>
                            <th><h6 class=" font txtblanco">Sistema</h6></th>
                            <th><h6 class=" font txtblanco">Automovil</h6></th>
                            <th><h6 class=" font txtblanco">Marca</h6></th>
                            <th><h6 class=" font txtblanco">Existencia</h6></th>
                            <th><h6 class=" font txtblanco">Precio</h6></th>
                            <th class="text-center"> <i class="fas   fa-2x fa-cogs"></i></th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1 Data 1</td>
                            <td>Row 1 Data 2</td>
                            <td>Row 2 Data 1</td>
                            <td>Row 2 Data 2</td>
                            <td>Row 2 Data 1</td>
                            <td>Row 2 Data 1</td>
                            <td>Row 2 Data 2</td>
                            <td>Row 2 Data 1</td>
                            <td>
                                <button type="button" class="btn btn-primary   blue-gradient px-3" data-toggle="modal" data-target="#centralModalSm">
                                    <i class="fab fa-buromobelexperte fa-2x"></i>
                                </button>
                                <button type="button" class="btn btn-primary   blue-gradient px-3" data-toggle="modal" data-target="#ModalAutomovil">
                                    <i class="fas  fa-car fa-2x"></i>
                                </button>
                               
                            </td>
                        </tr>

                    </tbody>
                </table>


                <!-- /.modal -->
                <div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">

                    <!-- Change class .modal-sm to change the size of the modal -->
                    <div class="modal-dialog " role="document">


                        <div class="modal-content">
                            <div class="modal-header top">
                                <h4 class="modal-title w-100 txtblanco" id="myModalLabel"> <img class="logoindex" src="~/img/INICIO/logo.png" alt="">Editar  Sistema </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">



  

                                    <!-- /.col -->
                                    <div class="col-xs-12 col-lg-12">
                                        <div class="box">
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <form>
                                                    <div class="form-group row">
                                                        <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center text-center">
                                                            <i class="fab fa-gradient-blue fa-buromobelexperte"></i>  Sistema
                                                        </h5>
                                                        <div class="col-sm-12 col-lg-12">
                                                            <select class="form-control selectpicker font" id="sistema" data-live-search="true">
                                                                <option data-tokens="china">China</option>
                                                                <option data-tokens="malayasia">Malayasia</option>
                                                                <option data-tokens="singapore">Singapore</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>

                                    <!-- /.col -->
                                    <div class="col-xs-12 col-lg-12">
                                        <div class="box">
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <form>
                                                    <div class="form-group row">
                                                        <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center">
                                                            <i class="fas fa-gradient-blue fa-th-list"></i>
                                                            Clasificacion
                                                        </h5>
                                                        <div class="col-sm-12 col-lg-12">
                                                            <select class="form-control selectpicker font" id="clasificacion" data-live-search="true">
                                                                <option data-tokens="china">China</option>
                                                                <option data-tokens="malayasia">Malayasia</option>
                                                                <option data-tokens="singapore">Singapore</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>

                                    <!-- /.col -->
                                    <!-- /.col -->


                                    <div class="col-xs-12 col-lg-12">
                                        <h3> <br /></h3>

                                    </div>


                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- /.modal -->
                <div class="modal fade" id="ModalAutomovil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">

                    <!-- Change class .modal-sm to change the size of the modal -->
                    <div class="modal-dialog " role="document">


                        <div class="modal-content">
                            <div class="modal-header top">
                                <h4 class="modal-title w-100 txtblanco" id="myModalLabel"> <img class="logoindex" src="~/img/INICIO/logo.png" alt="">Editar  Automovil </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">



                                    <!-- /.col -->
                                    <!-- /.col -->
                                    <div class="col-xs-12 col-lg-12">
                                        <div class="box">
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <form>
                                                    <div class="form-group row">
                                                        <h5 for="" class="col-sm-12 col-lg-12 font negrita2 text-center">
                                                            <i class="fas fa-gradient-blue fa-car"></i>
                                                            Automovil
                                                        </h5>
                                                        <div class="col-sm-12 col-lg-12">
                                                            <select class="form-control selectpicker font" id="Automovil" data-live-search="true">
                                                                <option data-tokens="china">China</option>
                                                                <option data-tokens="malayasia">Malayasia</option>
                                                                <option data-tokens="singapore">Singapore</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>



                                    <!-- /.col -->


                                    <div class="col-xs-12 col-lg-12">
                                        <h3> <br /></h3>

                                    </div>


                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>




        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>
</div>
<script>



    $(document).ready(function () {
        $('#example').DataTable({


        }


        );
    });


    $(document).ready(function () {
        $('#example2').DataTable({


        }

        );
    });

    // Get data from the first row


</script>










