﻿@{
    ViewData["Title"] = "Home page";
}

<!-- jQuery 1.8 or later, 33 KB -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Fotorama from CDNJS, 19 KB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

<script type="text/javascript" src="~/js/Vistas/info-productos.js"></script>
<!-- Modal: modalQuickView -->

<style>
    html {
        font-family: sans-serif;
    }

    /** Force up and down arrow for number input */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }

    /**   **************  */
    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .number-input {
        border: 1px solid #ddd;
        display: inline-flex;
        height: 50px;
        width: 220px;
    }

        .number-input,
        .number-input * {
            box-sizing: border-box;
        }

            .number-input button {
                outline: none;
                -webkit-appearance: none;
                background-color: transparent;
                border: none;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;
                cursor: pointer;
                margin: 0;
                position: relative;
                height: 50px;
                width: 50px;
            }

                .number-input button:before,
                .number-input button:after {
                    display: inline-block;
                    position: absolute;
                    content: '';
                    width: 1rem;
                    height: 2px;
                    background-color: #212121;
                    transform: translate(-50%, -50%);
                }

                .number-input button.plus:after {
                    transform: translate(-50%, -50%) rotate(90deg);
                }

            .number-input input[type=number] {
                font-family: sans-serif;
                padding: .5rem;
                border: solid #ddd;
                border-width: 0 5px;
                font-size: 1.6rem;
                height: 50px;
                font-weight: bold;
                text-align: center;
                width: 100%;
            }

    .btn-deep-orange {
        height: 80px;
        width: 220px;
    }
</style>

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">

        <div class="col-lg-12  col-md-12 col-sm-12">
            <br />
        </div>
        <div class="col-lg-1 col-md-1"></div>
        <!-- Add images to <div class="fotorama"></div> -->
        <div class=" col-lg-5 col-md-5 col-sm-12   fotorama" data-nav="thumbs">
            <img src="~/img/PRODUCTOS/prod-det1.png">
            <img src="~/img/PRODUCTOS/prod-det2.png">
            <img src="~/img/PRODUCTOS/prod-det3.png">
            <img src="~/img/PRODUCTOS/prod-det4.png">
            <img src="~/img/PRODUCTOS/prod-det5.png">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1 class="negrita">
                Product Name
            </h1>


            <h4 class="h4-responsive">
                <label class=" font negrita">
                    Disponibilidad:
                </label>
                <label class=" font negrita  azulito">
                    En Stock
                </label>
                <label class=" font negrita naranjita">
                    No Disponible
                </label>


            </h4>
            <hr />

            <label class="font">
                descripcion
            </label>
            <br />
            <h3 class=" font negrita naranjita">
                $0.00
            </h3>
            <br />
            <h4 class=" font negrita">
                Cantidad
            </h4>
            <br />
            <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                <input class="quantity naranjita" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
            </div>
            <br />
            <br />

            <h4>
                <button type="button" class="  btn-deep-orange waves-effect whitetext quick-view z-depth-1-half">

                    Agregar Al Carrito


                </button>

            </h4>
            <!-- Add to Cart -->
            <!-- /.Add to Cart -->
        </div>
    </div>

</div>

<div class="col-lg-1 col-md-1"></div>

<div class="col-lg-10">
    <br />
    <br />
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">

            <h4>
                <button type="button" class="  btn-deep-orange waves-effect whitetext quick-view z-depth-1-half  nav-item" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">

                    DESCRIPCIÓN


                </button>

            </h4>


        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <br />
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            Descripcion
        </div>

    </div>
</div>

<div class="col-lg-1 col-md-1"></div>

<!--  Galeria-->
