﻿
@{
    ViewData["Title"] = "Home page";
}

<style>
    .sucribeback {
        background-image: url('../img/PRODUCTOS/banner-suscribete.png') !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        min-height: 250px;
    }

    .naranjita {
        color: #e66113 !important;
    }

    .product-item .pi-pic ul li a {
        color: #ffffff !important;
    }

    .w-icon {
        background-color: #e66113 !important;
    }

    .card-header {
        background-color: rgba(0, 0, 0, 0) !important;
        border-bottom: 2px solid rgb(230, 97, 19);
    }

    .gray {
        background-color: #808080 !important;
    }
</style>


<!--categorias-->

<div class="col-lg-12 col-md-12 col-sm-12">
    <br>

    <div class="row">
        <div class="col-lg-1 col-md-2"></div>
        <div class="col-lg-2 col-md-2 col-sm-8 ">
            <div class="filter-widget">
                <h4 class=" negrita2 text-dark">&nbsp; COMPRAR POR </h4>


            </div>


            <div class="filter-widget">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card" style="border:none !important ; -webkit-box-shadow: none !important">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#Marca"
                               aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class=" negrita text-dark">
                                    <i class="fas fa-car"></i>  MARCA <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="Marca" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                             data-parent="#accordionEx">
                            <div class="card-body" id="divMarca">

                                <!-- Default inline 1-->

                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->


                </div>
                <!-- Accordion wrapper -->
            </div>

            <div class="filter-widget">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card" style="border:none !important ; -webkit-box-shadow: none !important">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#Modelo"
                               aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class=" negrita text-dark">
                                    <i class="fas fa-car"></i> MODELO <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="Modelo" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                             data-parent="#accordionEx">
                            <div class="card-body" id="divModelo">
                                Tienes que seleccionar al menos una marca para continuar

                                <!-- Default inline 1-->

                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->


                </div>
                <!-- Accordion wrapper -->
            </div>

            <div class="filter-widget">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card" style="border:none !important ; -webkit-box-shadow: none !important">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#lineas"
                               aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class=" negrita text-dark">
                                    <i class="fab fa-microsoft"></i> LINEAS <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="lineas" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                             data-parent="#accordionEx">
                            <div class="card-body" id="divLineas">

                                <!-- Default inline 1-->

                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->


                </div>
                <!-- Accordion wrapper -->
            </div>
            <div class="filter-widget">
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card" style="border:none !important ; -webkit-box-shadow: none !important">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#sublinea"
                               aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class="negrita text-dark">
                                    <i class="fas fa-grip-vertical"></i> SUBLINEA <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="sublinea" class="collapse " role="tabpanel" aria-labelledby="headingOne1"
                             data-parent="#accordionEx">
                            <div class="card-body" id="divSublineas">
                                <!-- Default inline 1-->
                                Tienes que seleccionar al menos una linea para continuar

                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->


                </div>
            </div>
            <div class="filter-widget">
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card" style="border:none !important ; -webkit-box-shadow: none !important">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#sub-sublinea"
                               aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class="negrita text-dark">
                                    <i class="fab fa-buromobelexperte"></i>  SUB-SUBLINEA <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="sub-sublinea" class="collapse " role="tabpanel" aria-labelledby="headingOne1"
                             data-parent="#accordionEx">
                            <div class="card-body" id="divSubsublineas">
                                Tienes que seleccionar al menos  una linea y una sublinea para continuar
                                <!-- Default inline 1-->

                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->


                </div>
            </div>



            


            <center>
                <button class="btn btn-deep-orange waves-effect whitetext m-0 px-3 waves-effect waves-light" type="button" onclick="buscarProducto()">  BUSCAR  </button>
            </center>
        </div>

        <div class="col-lg-8 col-md-8 ">
            <!--Galeria-->

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/img/PRODUCTOS/banner-1.png" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <button type="button" class="btn btn-outline-white waves-effect whitetext ">
                                CONOCE
                                MÁS
                            </button>
                            <button type="button" class="btn  btn-deep-orange waves-effect whitetext">
                                COMPRA
                                ¡AQUI!
                            </button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/img/PRODUCTOS/banner-1.png" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>...</h5>
                            <p>...</p>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon arrow" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon arrow" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>




            <!--Galeria-->

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <br />
                    <br />

                    <!--Agrupar productos -->
                    <nav class="navbar navbar-dark gray">
                        <form class="form-inline">
                            <select class="shadow-box-example z-depth-5 mdb-select md-form custom-select font negrita">
                                <option value="" disabled="" selected="">Mas Vendidos</option>
                                <option value="1">Menor Precio</option>
                                <option value="2">Mayor Precio</option>
                                <option value="3">Option 3</option>
                            </select>
                            &nbsp;
                            <select class="mdb-select md-form custom-select font negrita">
                                <option value="1">10</option>
                                <option value="1">50</option>
                                <option value="2">50</option>
                            </select>
                        </form>

                        <a class="btn naranjita" type="button" onclick="CambiarEstilo();" value="Cambiar estilo">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </nav>
                </div> <!--Agrupar productos -->


                <div class="product-list col-lg-12 col-md-12 col-sm-12">
                    <div class="row" id="contentProducts">
                        
                        <div id="loader" class=" col-lg-12 lds-hourglass  " style="display:none; width:100px"></div>



                    </div>
                </div>

            </div>

        </div>

    </div>


</div>



<div class="col-lg-12 col-md-12 col-sm-12 sucribeback">

    <div class="row">

        <div class="col-lg-1 col-md-1 ">
            <br />
            <img class="" src="~/img/PRODUCTOS/ic.png" alt="">
        </div>
        <div class="col-lg-5 col-md-5 ">
            <br />
            <br />
            <h1 class=" negrita blanco">¡SUSCRÍBETE!</h1>
            <br />
            <h4 class="blanco">Recibe las Mayores Ofertas </h4>
            <br />
            <br />
        </div>

        <div class="col-lg-5">
            <br />
            <br />
            <div class="input-group">
                <input type="text" class="form-control form-control-lg" placeholder="Estoy buscando ..." aria-label="" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">

                    <button class="btn btn-deep-orange waves-effect whitetext m-0 px-3 waves-effect waves-light" type="button">  SUSCRIBIR  </button>
                </div>
            </div>
            <br />
            <br />
        </div>

    </div>


</div>


@section scripts {

    <script src="~/js/Vistas/Productos/Productos.js"></script>
    <script>
        var urldetail = "@Url.Action("InfoProducto","Productos")";



    </script>



}

