﻿@{
    ViewData["Title"] = "Home page";
}

<style>
    .azulito {
        text-align:left !important ;
    }
    .negrita {
        text-align: left !important;
        
    }
    .gris{
        color: #808080 !important;
    }

   
</style>

<div class="col-lg-12 col-md-12 col-sm-12">

    <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
        <script>
(function () {
        var setting = {"height":400,"width":1920,"zoom":17,"queryString":"AR Autopartes, Calle Simon Bley, Olivares, Hermosillo, Son., México","place_id":"ChIJ44f5NqujXRQRfq9M-B4zLKU","satellite":false,"centerCoord":[29.093052658836335,-110.97560374999999],"cid":"0xa52c331ef84caf7e","lang":"es","cityUrl":"/mexico/hermosillo-19110","cityAnchorText":"Mapa de Hermosillo, Sonora, México","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"207792"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=207792';
        s.async = true;
        s.onload = function (e) {
          window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
      })();</script><a href="https://1map.com/es/map-embed">1 Map</a>
    </div>


</div>


<div class="col-lg-1 col-md-1"></div>
<div class="col-lg-5 col-md-5 col-sm-12">

    <form class=" border border-light p-5" action="#!">


        <!-- Nombre -->
        <h5 class="negrita ">NOMBRE</h5>
        <br />
        <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Nombre">

        <!-- Email -->
        <h5 class="negrita ">EMAIL</h5>
        <br />
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
        
        <!-- Asunto -->
        <h5 class="negrita ">ASUNTO</h5>
        <br />
        <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Asunto">

        <!-- Pregunta -->
        <h5 class="negrita ">¿CÓMO PODEMOS AYUDARTE?</h5>
        <br />
        <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Mensaje">

        
        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->

            </div>
            <div>

            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-md btn-primary m-0 px-3 waves-effect waves-light my-4" type="submit">ENVIAR</button>



    </form>
    <!-- Default form login -->


</div>

<div class="col-lg-5 col-md-5 col-sm-12">
    <br />
    <br />
    <h4 class="negrita azulito">¡GRACIAS POR CONTACTARTE!</h4>
    <br />
    <h4 class="negrita azulito">SUCURSALES DONDE NOS PUEDES VISITAR:</h4>
    <br />
    <h4 class="negrita azulito azulito">HERMOSILLO</h4>
    <br />
    <h5 class="negrita gris ">MATRIZ:</h5>
    <br />
    <h5 class="gris">General Piña #158 B entre Michoacan y Tabasco Colonia San Benito </h5>
    <br />
    <h5 class="negrita gris ">SUC. PERIFÉRICO NORTE:</h5>
    <br />
    <h5 class="gris">
        Periférico norte # 68 entre Guillermo Arreola y López del Castillo Colonia Luis encinas Tel: (662) 2 60 34 37
    </h5>
    <br />

    <h5 class="negrita gris ">SUC. LÁZARO CÁRDENAS:</h5>
    <br />
    <h5 class="gris">
        Lázaro Cárdenas 114 entre Ramon Noriega y Emiliano Zapata, colonia Palo Verde Tel: (662) 2 50 30 62
    </h5>
    <br />
    <h5 class="negrita gris ">SUC. REFORMA:</h5>
    <br />
    <h5 class="gris">
        Reforma # 308 Colonia Heberto Castillo
    </h5>
    <br />

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4 class="negrita azulito">CD. OBREGÓN</h4>
            <br />
            <h5 class="negrita gris ">
                SUC. CORTINAS 1
            </h5>
            <br />
            <h5 class="gris">
                Calle California 1322, Colonia Cortinas 1 Sección Tel: (644) 4 16 56 82
            </h5>
            <br />
            <h5 class="negrita gris ">
                SUC. PLANO
            </h5>
            <br />
            <h5 class="gris">
                Calle No reelección #1898-A Col. Plano Oriente Tel (644) 415 89 29
            </h5>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4 class="negrita azulito azulito">LOS MOCHIS</h4>
            <br />
            <h5 class="negrita gris ">
                SUC. CENTRO
            </h5>
            <br />
            <h5 class="gris">
                Belisario Dominguez 475 - 1 Colonia Centro Tel: 812 7401
            </h5>
            <br />
            <h4 class="negrita  azulito">CULIACÁN</h4>
            <br />
            <h5 class="negrita gris ">
                SUC. TIERRA BLANCA
            </h5>
            <br />
            <h5 class="gris">
                Calle Alvaro Obregón 2103 - L -5 colonia Tierra Blanca Tel 7 29 01 66
            </h5>
            <br />
        </div>

    </div>



</div>
<div class="col-lg-1 col-md-1"></div>