﻿@{
    ViewData["Title"] = "Home page";
}

<style>


    .nuevos {
        background-image: url(../img/INICIO/img.png) !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
</style>

<!--Galeria-->
<div class="col-lg-12 col-md-12 col-sm-12">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">/li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img class="d-block w-100" src="~/img/INICIO/sld-1.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <button type="button" class="btn btn-outline-white waves-effect whitetext ">CONOCE MÁS</button>
                    <button type="button" class="btn  btn-deep-orange waves-effect whitetext">COMPRA ¡AQUI!</button>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/img/INICIO/sld-2.png" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon arrow" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon arrow" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>


<!--Galeria-->



<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            <br>
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 bordegris">
                    <center>
                        <img class="circuloazul" src="~/img/INICIO/ic-1.png" alt="">
                    </center>

                    <div class="inner-text">
                        <h4 class="naranjita font">ENVÍOS A TODO MÉXICO</h4>
                        <br>
                        <h4 class="font center">Recibe tus compras en donde tu quieras</h4>
                        <h4 class="font center  gris">¡SIN IMPORTAR NUMERO DE PIEZAS!</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 bordegris">

                    <center>
                        <img class="circuloazul " src="~/img/INICIO/ic-2.png" alt="">
                    </center>
                    <div class="inner-text">
                        <h4 class="naranjita font">ATENCIÓN PERSONALIZADA</h4>
                        <br>
                        <h4 class="font center">Asistencia profesional para resolver tus dudas</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 ">
                    <center>
                        <img class="circuloazul" src="~/img/INICIO/ic-3.png" alt="">
                    </center>

                    <div class="inner-text">
                        <h4 class="naranjita font">DEVOLUCIÓN GRATUITA</h4>
                        <br>
                        <h4 class="font center">Todos nuestros productos tienen garantía contra defectos de fabricación</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1">
        </div>

        <div class="col-lg-12 col-md-12 ">
            <br>
            <br>
        </div>
    </div>
</div>

<!--promo naranja -->
<div class="col-lg-12 col-md-12 col-sm-12 naranja promoindex">
    <div class=" row">

        <div class="col-lg-1 col-md-1">


        </div>

        <div class="col-lg-4 col-md-4  col-sm-6">
            <br>
            <h1 class="font blanco">
                <img class="imagenindexauto" src="~/img/INICIO/ic-envio.png" /> ENVÍO <label class="font negrita2 blanco">¡GRATIS! </label>
            </h1>

        </div>
        <div class="col-lg-2 col-md-2">
            <center>
                <img style="height: 150px;" src="~/img/INICIO/ic-arrow.png" />
            </center>
        </div>
        <div class="col-lg-4 col-md-4  col-sm-5">
            <br>
            <h2 class="font blanco textpromoindex">
                En compras apartir de <label class="negrita2">$599</label> <BR>
                Ingresa Código
                <label class="negrita textestilo">FREESHIPPING</label>
            </h2>
        </div>

        <div class="col-lg-1 col-md-1">
        </div>

    </div>
</div>

<!--categorias-->

<div class="col-lg-12 col-md-12 col-sm-12">
    <br>
    <h2 class=" azulito">Conoce Todas Nuestras Lineas</h2>
    <div class="row">
        <div class="col-lg-12 col-md-12 "><br> </div>
        <div class="col-lg-1 col-md-1 "></div>
        <div class="col-lg-2 col-md-2 col-sm-12">

            <img class="card-img-top" src="~/img/INICIO/prod-1.png" alt="Card image cap">

            <h4 class=" azulito">Alternadores</h4>



        </div>
        <div class=" col-lg-2 col-md-2 col-sm-12">

            <img class="card-img-top" src="~/img/INICIO/prod-2.png" alt="Card image cap">

            <h4 class=" azulito">Colision</h4>



        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">

            <img class="card-img-top" src="~/img/INICIO/prod-3.png" alt="Card image cap">

            <h4 class="azulito">Frenos</h4>



        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">

            <img class="card-img-top" src="~/img/INICIO/prod-4.png" alt="Card image cap">

            <h4 class=" azulito ">Fuel injection</h4>



        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">

            <img class="card-img-top" src="~/img/INICIO/prod-5.png" alt="Card image cap">

            <h4 class=" azulito ">Herramientas</h4>



        </div>

        <div class="col-lg-1 col-md-1 "></div>
        <div class="col-lg-12 col-md-12 "><br> </div>
    </div>


</div>

<!--categorias-->
<!-- productos nuevos-->
<div class="col-lg-12 col-md-12 col-sm-12">
    <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="filter-control">

                        <h1 class=" font negrita2 ">Productos Nuevos</h1>

                    </div>
                    <div class="row">
                        <div class="product-item col-lg-3">
                            <div class="pi-pic">
                                <img src="~/img/INICIO/prod-1.png" alt="">


                            </div>
                            <div class="pi-text">

                                <h4 class=" font negrita2 naranjita">Pieza</h4>
                                <br>

                                <div class="product-price">
                                    <h4 class="negrita"> $14.00</h4>
                                    <br>
                                </div>

                                <div class="product-price">
                                    <button type="button" class="btn  primary-color-dark waves-effect whitetext">
                                        Agregar a
                                        Carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item col-lg-3">
                            <div class="pi-pic">
                                <img src="~/img/INICIO/prod-1.png" alt="">


                            </div>
                            <div class="pi-text">

                                <h4 class=" font negrita2 naranjita">Pieza</h4>
                                <br>

                                <div class="product-price">
                                    <h4 class="negrita"> $14.00</h4>
                                    <br>
                                </div>

                                <div class="product-price">
                                    <button type="button" class="btn  primary-color-dark waves-effect whitetext">
                                        Agregar a
                                        Carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item col-lg-3">
                            <div class="pi-pic">
                                <img src="~/img/INICIO/prod-1.png" alt="">


                            </div>
                            <div class="pi-text">

                                <h4 class=" font negrita2 naranjita">Pieza</h4>
                                <br>

                                <div class="product-price">
                                    <h4 class="negrita"> $14.00</h4>
                                    <br>
                                </div>

                                <div class="product-price">
                                    <button type="button" class="btn  primary-color-dark waves-effect whitetext">
                                        Agregar a
                                        Carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item col-lg-3">
                            <div class="pi-pic">
                                <img src="~/img/INICIO/prod-1.png" alt="">


                            </div>
                            <div class="pi-text">

                                <h4 class=" font negrita2 naranjita">Pieza</h4>
                                <br>

                                <div class="product-price">
                                    <h4 class="negrita"> $14.00</h4>
                                    <br>
                                </div>

                                <div class="product-price">
                                    <button type="button" class="btn  primary-color-dark waves-effect whitetext">
                                        Agregar a
                                        Carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <center>
                        <button type="button" class="btn  btn-deep-orange waves-effect whitetext btn-lg " href="@Url.Action("Productos","Productos")">
                            VER
                            TODO
                        </button>
                    </center>
                </div>

            </div>
        </div>
    </section>
</div>

<!-- productos nuevos-->
<!-- productos mas vendidos-->
<div class="col-lg-12 col-md-12 col-sm-12">
    <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="filter-control">

                        <h1 class=" font negrita2 ">Productos Mas Vendidos</h1>

                    </div>
                    <div class="row">
                        <div class="product-item col-lg-3">
                            <div class="pi-pic">
                                <img src="~/img/INICIO/prod-1.png" alt="">


                            </div>
                            <div class="pi-text">

                                <h4 class=" font negrita2 naranjita">Pieza</h4>
                                <br>

                                <div class="product-price">
                                    <h4 class="negrita"> $14.00</h4>
                                    <br>
                                </div>

                                <div class="product-price">
                                    <button type="button" class="btn  primary-color-dark waves-effect whitetext">
                                        Agregar a
                                        Carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item col-lg-3">
                            <div class="pi-pic">
                                <img src="~/img/INICIO/prod-1.png" alt="">


                            </div>
                            <div class="pi-text">

                                <h4 class=" font negrita2 naranjita">Pieza</h4>
                                <br>

                                <div class="product-price">
                                    <h4 class="negrita"> $14.00</h4>
                                    <br>
                                </div>

                                <div class="product-price">
                                    <button type="button" class="btn  primary-color-dark waves-effect whitetext">
                                        Agregar a
                                        Carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item col-lg-3">
                            <div class="pi-pic">
                                <img src="~/img/INICIO/prod-1.png" alt="">


                            </div>
                            <div class="pi-text">

                                <h4 class=" font negrita2 naranjita">Pieza</h4>
                                <br>

                                <div class="product-price">
                                    <h4 class="negrita"> $14.00</h4>
                                    <br>
                                </div>

                                <div class="product-price">
                                    <button type="button" class="btn  primary-color-dark waves-effect whitetext">
                                        Agregar a
                                        Carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="product-item col-lg-3">
                            <div class="pi-pic">
                                <img src="~/img/INICIO/prod-1.png" alt="">


                            </div>
                            <div class="pi-text">

                                <h4 class=" font negrita2 naranjita">Pieza</h4>
                                <br>

                                <div class="product-price">
                                    <h4 class="negrita"> $14.00</h4>
                                    <br>
                                </div>

                                <div class="product-price">
                                    <button type="button" class="btn  primary-color-dark waves-effect whitetext">
                                        Agregar a
                                        Carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-3offset-lg-1">
                    <div class="product-large set-bg m-large nuevos ">
                        <h3 class="blanco font negrita2">Encuentra Todo <BR> En Autopartes</h3>
                        <BR>
                        <button type="button" class="btn  btn-deep-orange waves-effect whitetext " href="@Url.Action("Productos","Productos")">VER TODO</button>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- productos mas vendidos-->
<!-- Metodos de pago-->


<div class="col-lg-6 col-md-6 col-sm-12">
    <Center>
        <h3 class="font metodospagotexto">Aceptamos Diferentes Métodos de Pago : <br></h3>
        <img class="metodospago" src="~/img/INICIO/metodos-pago.png" alt="" />
    </Center>



    <br>

</div>


<div class="col-lg-6 col-md-6 azul col-sm-12">
    <br>
    <h2 class=" blanco">
        <strong> S Í G U E N O S :</strong> <i class="fab fa-facebook-f fa-lg"></i> &nbsp;<i class="fab fa-instagram  fa-lg"></i>
    </h2>
</div>

@section scripts {
    <script src="~/js/Vistas/Home/inicio.js"></script>
    



}

