﻿@{
    ViewData["Title"] = "Home page";
}

    <div class="col-lg-12 col-md-12 col-sm-12"  style="max-height:500px ! important">

        <img class="" style="width:100%;  min-height: 400px" src="~/img/NOSOTROS/img-banner.png" alt="">


    </div>

<div class="col-lg-12 col-md-12 " style="min-height:400px">

    <div class="row">
        <div class="col-lg-4 col-md-4 " style="background-color:#808080; min-height: 500px">
            <center>
                <br />
                <img class="logosnosotros " src="~/img/NOSOTROS/ic-vision.png" alt="">
            </center>

            <div class="inner-text">
                <center>
                    <h4 class="naranjita font blanco">MISIÓN</h4>
                    <br>
                    <h4 class="font center blanco">
                        Proveer a nuestros clientes una amplia disponibilidad de productos y servicios automovilísti-
                        cos; oportunos y de alta calidad, a los precios más competitivos del mercado. Para así que

                        garantizar la eficiencia y eficacia de AR Autopartes y asegurar la satisfacción de nuestros clien-
                        tes.
                    </h4>
                </center>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 bordegris" style="background-color:#e66113; min-height: 500px">

            <center>
                <br />
                <img class="logosnosotros  " src="~/img/NOSOTROS/ic-mision.png" alt="">
            </center>
            <div class="inner-text">
                <center>
                    <h4 class="naranjita font blanco">VISIÓN</h4>
                    <br>
                    <h4 class="font center blanco">
                        Ser la empresa líder en la comercialización de autopartes y soluciones para para automóviles
                        de todas las marcas nacionales y extranjeras en e país.
                    </h4>
                </center>
            </div>
        </div>
        <div class="col-lg-4 col-md-4   " style="background-color:#001880; min-height: 500px">
            <center>
                <br />
                <img class="logosnosotros " src="~/img/NOSOTROS/ic-valores.png" alt="">
            </center>

            <div class="inner-text">
                <center>
                    <h4 class="naranjita font blanco">VALORES</h4>
                    <br>
                    <h4 class="font center blanco">Honestidad | Integridad | Servicio | Responsabilidad | Compromiso | Innovación | Mejora continua
                    </h4>
                </center>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-1 col-md-1"></div>

<div class="col-lg-10 col-md-10 ">

    <div class="row">
        <div class="col-lg-6 col-md-6  col-sm-12  ">
            <center>
                <br />
                <img class=" " src="~/img/NOSOTROS/img-1.png" alt="">
            </center>


        </div>
        <div class="col-lg-6 col-md-6  col-sm-12 ">

            <center>
               
                <img class="logosnosotros  " src="~/img/NOSOTROS/ic-mision.png" alt="">
            </center>
            <div class="inner-text">
               
                    <h2 class="naranjita azulito font ">¿QUIÉNES SOMOS?</h2>
                    <br>
                    <h4 class="font" style="text-align: left;">
                        AR Autopartes SA de CV es una empresa de talla nacional y de origen sonorense que desde 1994 se dedica a la comercialización y distribución de una variada gama de productos y servi-
                        cios para automóviles de todas las marcas nacionales y extranjeras.
                        <br />
                        <br />
                        AR Auto Partes, es una empresa de talla nacional de origen sonorense.
                        <br />
                        <br />
                        Dedicados a la compra y venta de auto partes de colisión de todas las marcas de vehículos
                        nacionales y de importación.
                        Con ás 17 años de trayectoria que respaldan nuestra experiencia en el mercado de las auto
                        partes y nos posiciona como proveedores líderes en el ramo.
                        <br />
                        <br />
                        Surtimos auto partes de colisión en todo el estado de Sonora, Sinaloa y otras partes de la Re-
                        pública Mexicana.
                        <br />
                        <br />
                        Contamos con un stock de bodega que nos permite garantizar el más rápido surtido de coli-
                        siones tanto de origen Taiwanés como nuevo original y de medio uso.
                        <br />
                        <br />
                        Nuestra política de atención al cliente nos permite ofrecer eficacia en nuestro servicio, por eso
                        nos esforzamos en tener productos de excelente calidad y de diversas marcas, para lograr
                        abarcar todas las necesidades de nuestros clientes con soluciones rápidas y acertadas.
                        En AR Auto Partes evolucionamos y nos adaptamos para estar más cerca de nuestros clientes.
                        Como proveedores autorizados, contamos con la confianza de las principales aseguradoras
                        del país.
                        <br />
                        <br />
                    </h4>
                
            </div>
        </div>

    </div>
</div>

<div class="col-lg-1 col-md-1"></div>

<div class="col-lg-1 col-md-1"></div>
<div class="col-lg-10 col-md-10 col-sm-12">
    <div class="row">
        <div class="col-lg-4 col-md-4  col-sm-12 bordegris">
            <center>
                <img class="circuloazul" src="~/img/INICIO/ic-1.png" alt="">
            </center>

            <div class="inner-text">
                <h4 class="naranjita font">ENVÍOS A TODO MÉXICO</h4>
                <br>
                <h4 class="font center">Recibe tus compras en donde tu quieras</h4>
                <h4 class="font center  gris">¡SIN IMPORTAR NUMERO DE PIEZAS!</h4>
                <br>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 bordegris">

            <center>
                <img class="circuloazul " src="~/img/INICIO/ic-2.png" alt="">
            </center>
            <div class="inner-text">
                <h4 class="naranjita font">ATENCIÓN PERSONALIZADA</h4>
                <br>
                <h4 class="font center">Asistencia profesional para resolver tus dudas</h4>
                <br>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <center>
                <img class="circuloazul" src="~/img/INICIO/ic-3.png" alt="">
            </center>

            <div class="inner-text">
                <h4 class="naranjita font">DEVOLUCIÓN GRATUITA</h4>
                <br>
                <h4 class="font center">Todos nuestros productos tienen garantía contra defectos de fabricación</h4>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-1 col-md-1"></div>
<div class="col-lg-12 col-md-12">
    <br />
    <br />
</div>

<div class="col-lg-12 col-md-12 col-sm-12" >

    <img class="" style="width:100%;  min-height: 400px" src="~/img/NOSOTROS/marcas.png" alt="">


</div>
