﻿<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"] - AR</title>
    <!-- MDB icon -->
    <link rel="icon" href="~/img/mdb-favicon.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/css/mdb.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/datatables.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />


    <!-- DataTable-->
    <!-- Your custom styles (optional) -->



    <link rel="stylesheet" href="~/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <!--<link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">-->
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">



    <style>
        .btn-default:not([disabled]):not(.disabled):active, .btn-default:not([disabled]):not(.disabled).active, .show > .btn-default.dropdown-toggle {
            background-color: #18686000 !important;
        }

        .btn-default.dropdown-toggle {
            background-color: #18686000 !important;
        }

        .caret {
            border-width: none;
            border-style: none;
            border-right: none;
            border-color: transparent transparent;
            width: 0;
            height: 0;
        }
        .nav-top {
            max-height:50px !important;
        }
    </style>
</head>


<body>

    <!-- Start your project here-->

    <div class="row">
        <!--- Head--->
        <div class="col-lg-12 col-md-12  col-sm-12">


            <!-- Head -->
            <div class="row">

                <div class="col-lg-1 col-md-1  top"></div>

                <div class="col-lg-10 col-md-10  col-sm-10  top">

                    <!--Navbar-->
                    <nav class="navbar navbar-expand-lg
                         navbar-dark primary-color top nav-top">

                        <!-- Navbar brand -->
                        <label class="font negrita txtblanco">  Siguenos en : </label>

                        <img class="imagenfbinst" src="~/img/INICIO/ic-fb.png" />
                        <img class="imagenfbinst" src="~/img/INICIO/ic-ig.png" />

                        <!-- Collapse button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#iniciomenu"
                                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Collapsible content -->
                        <div class="collapse navbar-collapse" id="iniciomenu">

                            <!-- Links -->
                            <ul class="navbar-nav mr-auto">
                            </ul>
                            <!-- Links -->

                            <form class="form-inline">
                                <div class="md-form my-0">
                                    <ul class="navbar-nav ml-auto ">
                                        @if (ViewBag.Name == "" || ViewBag.Name == null)
                                        {
                                            <li class="nav-link font txtblanco text-center ">
                                                <a class="nav-link font txtblanco" href="@Url.Action("Home", "Inicio")" data-toggle="modal" data-target="#fullHeightModalRight">
                                                    <img class="imagenfbinst" src="~/img/INICIO/ic-usuario.png" /> Iniciar Sesión
                                                    <span class="sr-only">  (current)</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link font txtblanco text-center" href="@Url.Action("Home", "Inicio")">
                                                    <img class="imagenfbinst" src="~/img/INICIO/ic-usuario.png" />    Hola, @ViewBag.Name
                                                    <span class="sr-only">  (current)</span>
                                                </a>
                                            </li>
                                        }
                                        <li class="nav-link font txtblanco ">
                                            <a class="nav-link font txtblanco " href="#" data-toggle="modal" data-target="#Lista">
                                                <img class="imagenfbinst" src="~/img/INICIO/ic-pedidos.png" /> Lista de Deseos
                                            </a>
                                           
                                        </li>
                                        <li class="nav-link font txtblanco ">
                                            <a class="nav-link font txtblanco" href="#">
                                                <img class="imagenfbinst" src="~/img/INICIO/ic-carrito.png" />  Mi Carrito
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <!-- Collapsible content -->

                    </nav>
                    <!--/.Navbar-->
                    <!--/.Navbar-->
                    <!--/  <nav class=" navbar navbar-expand-lg navbar-light  lighten-1 altura top">
                        <label class="font negrita txtblanco">  Siguenos en : </label>

                        <img class="imagenfbinst" src="~/img/INICIO/ic-fb.png" />
                        <img class="imagenfbinst" src="~/img/INICIO/ic-ig.png" />




                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">  </span>
                        </button>
                        <div class="collapse navbar-collapse backgroundwhite top" id="navbarSupportedContent-555">

                            <ul class="navbar-nav ml-auto nav-flex-icons">
                                @if (ViewBag.Name == "" || ViewBag.Name == null)
                                {
                                    <li class="nav-item  ">
                                        <a class="nav-link font txtblanco" href="@Url.Action("Home", "Inicio")" data-toggle="modal" data-target="#fullHeightModalRight">
                                            <img class="imagennav" src="~/img/INICIO/ic-usuario.png" />  <label class="font negrita txtblanco">  Iniciar Sesión   </label>
                                            <span class="sr-only">  (current)</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link font txtblanco" href="@Url.Action("Home", "Inicio")">
                                            <img class="imagennav" src="~/img/INICIO/ic-usuario.png" />  <label class="font negrita ">  Hola, @ViewBag.Name  </label>
                                            <span class="sr-only">  (current)</span>
                                        </a>
                                    </li>
                                }
                                <li class="nav-item ">
                                    <a class="nav-link font txtblanco" href="#" data-toggle="modal" data-target="#Lista">
                                        <img class="imagennav" src="~/img/INICIO/ic-pedidos.png" />  <label class="font negrita txtblanco">  Lista de Deseos   </label>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link font" href="#">
                                        <img class="imagennav" src="~/img/INICIO/ic-carrito.png" /> <label class="font negrita txtblanco">   Mi Carrito   </label>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>-->
                </div>
                <div class="col-lg-1 col-md-1   top "></div>



            </div>
            <div class="row">


                <div class="col-lg-1 col-md-1  top  "></div>
                <div class="col-lg-10 col-md-10  col-sm-12  top">
                    <div class="row">

                        <div class="col-lg-7 col-md-7   top">
                            <br>
                            <img class="logoindex" src="~/img/INICIO/logo.png" alt="">
                            <h4 class="white-text" id="lblUsuario">
                            </h4>
                        </div>

                        <div class="col-lg-5">
                            <br>

                            <div class="input-group backgroundwhite">
                                <input type="text" class="form-control" placeholder="Estoy buscando ..." aria-label=""
                                       aria-describedby="button-addon4">
                                <div class="input-group-append" id="button-addon4">
                                    <div class="input-group-append dropdown">
                                        <button class="btn btn-outline-primary  btn-md m-0 px-3 dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            SISTEMAS
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-info">
                                            <a class="dropdown-item" href="#">  </a>
                                            <div id="categorias"></div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-light-bluey btn-md m-0 px-3" type="button">  <i class="fas fa-search">  </i>  </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-1 col-md-1   top "> </div>

            </div>
            <!-- Head -->
            <!-- Menu -->
            <div class="row">


                <div class="col-lg-1 col-md-1 backgroundwhite ">
                </div>
                <div class="col-lg-10 col-md-10  col-sm-12 backgroundwhite">
                    <!--Navbar-->
                    <nav class="navbar navbar-expand-lg backgroundwhite ">
                        <!-- Navbar brand -->
                        <!-- Collapse button -->
                        <button class="navbar-toggler btn btn-primary btn-rounded waves-effect btn-block center" type="button" data-toggle="collapse"
                                data-target="#basicExamp" aria-controls="basicExamp" aria-expanded="false"
                                aria-label="Toggle navigation">
                            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Menu &nbsp; &nbsp;<i class="fas fa-caret-down"></i>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- Collapsible content -->
                        <div class="collapse navbar-collapse" id="basicExamp">
                            <!-- Links -->
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item ">
                                    <a class="nav-link center btn-block" href="@Url.Action("Inicio","Home")">
                                        INICIO

                                    </a>
                                </li>

                                <li class="nav-item btn-block font">
                                    <a class="nav-link center btn-block" href="@Url.Action("Nosotros","Home")">NOSOTROS</a>
                                </li>
                                <li class="nav-item font">
                                    <a class="nav-link center btn-block" href="@Url.Action("Productos","Productos")">PRODUCTOS</a>
                                </li>
                                <li class="nav-item font">
                                    <a class="nav-link center btn-block" href="@Url.Action("Contacto","Home")">CONTACTO</a>
                                </li>
                                <li class="nav-item font">
                                    <a class="nav-link center btn-block" href="@Url.Action("Sistema","Admin")">SISTEMA</a>
                                </li>
                                <li class="nav-item font">
                                    <a class="nav-link center btn-block" href="@Url.Action("Cotizador","Admin")">COTIZADOR</a>
                                </li>

                            </ul>
                            <!-- Links -->

                        </div>
                        <!-- Collapsible content -->
                    </nav>
                    <!--/.Navbar-->

                    <div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">

                        Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal
                        <div class="modal-dialog modal-full-height modal-right" role="document">


                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title w-100" id="myModalLabel">Inicio de sesión</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Correo
                                    <input class="form-control" type="text" id="txtUser" />
                                    Contraseña
                                    <input class="form-control" type="password" id="txtPass" />
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" onclick="DoLogin()">Iniciar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade right" id="Lista" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">

                        Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal
                        <div class="modal-dialog modal-full-height modal-right" role="document">


                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">

                                        @*<h4 class="negrita">*@
                                        Product Name <h3 class=" font negrita naranjita">
                                            $0.00
                                        </h3>
                                        Cantidad:
                                        <div class="number-input">
                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                                            <input class="quantity naranjita" min="0" name="quantity" value="1" type="number">
                                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                        </div>

                                        @*</h4>*@
                                        <hr>

                                        <br>

                                        <br>

                                        <br>

                                        <br>
                                        <br>

                                        <h4>
                                            <button type="button" class="  btn-deep-orange waves-effect whitetext quick-view z-depth-1-half">

                                                Agregar Al Carrito


                                            </button>

                                        </h4>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-1 col-md-1 backgroundwhite  "></div>

            </div>
            <!--Menu -->
            <!--Contenido--->

        </div>

        @RenderBody()

        <!-- Contenido-->
        <!-- Metodos de pago-->



    </div>
    <!-- End your project here-->
    <!-- jQuery -->
    <!-- <script type="text/javascript" src="~/js/jquery.min.js"></script>-->
    <!-- Bootstrap tooltips -->
    <script src="~/js/security/security.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <!--  JavaScript -->
    <!-- Your custom scripts (optional) -->
    <!-- <script src="~/js/DataTables/js/jquery.dataTables.js"></script>
        <script src="~/js/DataTables/js/dataTables.jqueryui.js"></script>
        <script src="~/js/DataTables/js/dataTables.bootstrap.js"></script>
        <script type="text/javascript" src="~/js/security/security.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

    <script type="text/javascript" src="~/js/Vistas/Shared/_Layout.js"></script>




    @RenderSection("Scripts", required: false)
    <script>
        var urlHome= "@Url.Action("Inicio","Home")";

    </script>
</body>

</html>
